* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: "Afacad Flux", sans-serif;
    margin-left: 70px;
    margin-top: 30px;
    background:radial-gradient(at 79.22621442163653% 17.42688039091167%, hsla(183.65853658536585, 64.56692913385827%, 50.19607843137255%, 1) 0%, hsla(183.65853658536585, 64.56692913385827%, 50.19607843137255%, 0) 100%), radial-gradient(at 93.79344352490271% 71.37626240896351%, hsla(94.02439024390243, 64.56692913385827%, 50.19607843137255%, 1) 0%, hsla(94.02439024390243, 64.56692913385827%, 50.19607843137255%, 0) 100%), radial-gradient(at 50.73876111814418% 11.035561587014108%, hsla(9.999999999999998, 67.2%, 49.01960784313725%, 1) 0%, hsla(9.999999999999998, 67.2%, 49.01960784313725%, 0) 100%), radial-gradient(at 49.77976788827405% 84.58550764913575%, hsla(183.65853658536585, 64.56692913385827%, 50.19607843137255%, 1) 0%, hsla(183.65853658536585, 64.56692913385827%, 50.19607843137255%, 0) 100%), radial-gradient(at 12.282086466571918% 2.909658590701758%, hsla(94.02439024390243, 64.56692913385827%, 50.19607843137255%, 1) 0%, hsla(94.02439024390243, 64.56692913385827%, 50.19607843137255%, 0) 100%), radial-gradient(at 95.89106932802788% 17.924698209896818%, hsla(9.999999999999998, 67.2%, 49.01960784313725%, 1) 0%, hsla(9.999999999999998, 67.2%, 49.01960784313725%, 0) 100%), radial-gradient(at 23.110834528280833% 15.913875413890189%, hsla(183.65853658536585, 64.56692913385827%, 50.19607843137255%, 1) 0%, hsla(183.65853658536585, 64.56692913385827%, 50.19607843137255%, 0) 100%);
    background-repeat: no-repeat;
    color: #fff;
    border: none;
}

h1 {
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 10px;
}

.calcul-date {
    margin-bottom: 10px;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 10px;
}

li input {
    display: block;
    margin-top: 5px;
    border: none;
}